{% load static %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

	<a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/dj.png' %}" style="width: 40px; height: 40px;"></a>

<ul class="navbar-nav">
	{% if not user.is_authenticated %}
	<li class="nav-item">
		<a class="nav-link" href="{% url 'home' %}">Home</a>
		
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'about' %}">About</a>
		
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'contact' %}">Contact</a>
		
	</li>
 <li class="nav-item ">
          <a class="nav-link" href="{% url 'login' %}" style="margin-left: 800px;">Login</a>

        </li>
	
	{% else %}
	<li class="nav-item">
		<a class="nav-link" href="{% url 'home' %}">Home</a>
		
	</li>

	<li class="nav-item">
		<a class="nav-link" href="{% url 'dsh' %}">Dashboard</a>
		
	</li>
	
      <li class="dropdown" style="margin-left: 800px;">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" >Hi {{request.user.username}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          
        </div>
      </li>
    
	{% endif %}
</ul>


</nav>
