{% extends 'dtlapp/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container">
	{% if messages %}
        {% for j in messages %}
        <div class="alert alert-{{j.tags}} alert-dismissible">
            {{j}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            
            
        </div>
        {% endfor %}
        {% endif %}
	
	<div class="row mt-5">
		<div class="card col-md-4">
			<h2 class="bg-primary mt-2 p-2 my-2 text-center">Profile</h2>
			
		</div>

		<div class="card col-md-5 mx-2" style="margin: auto;">
			<h2 class="bg-secondary mt-2 p-2 my-2 text-center">Details</h2>
			<form method="post">
				{% csrf_token %}
				<table class="card-body table table-borderless mx-3 my-2">
				<tr>
					<th>FirstName</th>
					<td>{{request.user.first_name}}</td>
				</tr>
				<tr>
					<th>LastName</th>
					<td>{{request.user.last_name}}</td>
				</tr>
				<tr>
					<th>Username</th>
					<td>{{request.user.username}}</td>
				</tr>
				<tr>
					<th>DateOfJoining</th>
					<td>{{request.user.date_joined}}</td>

				</tr>
				<tr>
					<th>LastLogin</th>
					<td>{{request.user.last_login}}</td>
				</tr>

				
			</table>

			<a class="btn btn-outline-success mb-2" href="{% url 'uppro' %}">Update</a>
			</form>
			
			
		</div>

		
	</div>
	
</div>

{% endblock %}