{% extends 'dtlapp/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container ">
	<div class="card mt-3 ">
		<div class="card-header">
			<h2>UpdateForm</h2>
			
		</div>
		<div class="card-body">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<table class="table table-borderless">
					{% for i in t %}
					<tr>
						<td>{{i}}</td>
					</tr>
					{% endfor %}
					{% for j in y %}
					<tr>
						<td>{{j}}</td>
					</tr>
					{% endfor %}
				</table>
					<input type="submit" value="Update" class="btn btn-outline-warning">
					<a href="{% url 'profile' %}" class="btn btn-outline-danger">Cancel</a>
				
			</form>
				
			
		</div>
		
	</div>
	
</div>

{% endblock %}